opencv-python==4.4.0.44
numpy==1.19.1
scipy==1.5.0
scikit-learn==0.20.3
tensorboard==2.2.1
tensorboardX==2.1
protobuf==3.20.3
torch==1.12.1
tqdm==4.46.0
Pillow==7.2.0
torchvision==0.13.1
protobuf==3.20.3
pip install torch==1.12.1+cu113 torchvision==0.13.1+cu113 --extra-index-url https://download.pytorch.org/whl/cu113